doctype html
html(lang='en')
  head
    title OpenAPI to Markdown - adaxisoft.be
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Generates a markdown document from the OpenAPI specification.')
    block scripts
    style(type='text/css').
      .container {
        display: flex;
      }
      .left-half {
        display: flex;
        background-color: #ff9e2c;
        flex: 1;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
      }
      .right-half {
        display: flex;
        background-color: #b6701e;
        flex: 1;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
      }
      .center {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
      }
  body
    block content
